@using LiftSepeti.Models.Entity
@model List<liftTable>

@{
    ViewBag.Title = "Index";
}
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    @foreach (var lft in Model)
    {
        <div class="w3-container">


            <div class="w3-panel w3-card w3-red"><img src="@lft.resim" alt="Card image cap" width="900px" height="400px"> <p></p></div>

        </div>

     


    }


</body>
</html>


<h2>Anasayfa</h2>




