@using LiftSepeti.Models.Entity
@model List<liftTable>

@{
    ViewBag.Title = "Index";
}
<html>
<title>Ana Sayfa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        div.w3-container {
            width: 1200px;
            height: 450px;
        }

        .w3-panel w3-card w3-white {
            width: 900px;
            margin: auto;
        }

        .sola-kaydir {
            float: left;
            padding: 0 0 10px 10px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Lift Sepeti</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/Index"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <br />
    @foreach (var lft in Model)
    {
        <div class="w3-container">


            <div class="w3-panel w3-card w3-white">
                <img src="@lft.resim" alt="Card image cap" width="900px" height="350px" class="sola-kaydir">
                <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır.</p>
                <p> 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması i>  <p>Ürünün özellikleri burada yazacak</p>
            </div>
        </div>
    }
</body>
</html>


<h2></h2>




