
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<title>Sepet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .w3-container {
            width: 1000px;
            height: 300px;
        }

        .w3-panel w3-card w3-white {
            width: 900px;
            margin: auto;
        }

        .sola-kaydir {
            float: left;
            padding: 0 0 0 0;
        }

        .paragraf_d {
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
        }


        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: whitesmoke;
        }
    </style>
    <script type="text/javascript">
        function MyFunction() {
            alert('Message');
            return;
        }


    </script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">Lift Sepeti</a>
              </div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/bayianasayfa/Index?bayiid=@ViewBag.bayiid">Ana Sayfa</a></li>
                  <li><a href="/bayisepet/getIndex?bayiid=@ViewBag.bayiid">Sepet</a></li>
                  <li><a href="/bayimagaza/Index?bayiid=@ViewBag.bayiid">Mağazam</a></li>
                  <li><a href="/bayianasayfa/bayisiparisler?bayiid=@ViewBag.bayiid">Siparişlerim</a></li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="	glyphicon glyphicon-user"></span>@ViewBag.bayiad</a></li>
              </ul>
          </div>
      </nav> 
    <br />
    <br />
    <br />

    <div><h1 style="text-align:center">SEPETİNİZDE ÜRÜN YOKTUR</h1></div>



</body>

</html>
